* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(43, 11, 11);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 100%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola.imagem {
    width: 30%;
}

.escola {
    background-image: linear-gradient(#25231b, #d4c154);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-conteudo {
    width: 35%;
}

.escola-titulo {
    padding: 24px 0;
}

.estudante {
    padding: 24px 0;
}

.estudante-imagem {
    width: 120px;
}